.clients {
  padding: 94px 0;
  text-align: center;

  &__heading {
    font-size: 36px;
    line-height: 1.17;
  }
  &-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }

  &-item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients-item__link {
  display: block;
  height: 92px;
  width: 170px;
  padding: 16px 32px;
  fill: var(--icons-1-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
