.features {
  padding-top: 60px;
  padding-bottom: 30px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.features-list__item {
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 3) / 4);
    padding-bottom: 0;
  }
}
.features-list__icon {
  text-align: center;
  background-color: #f5f4fa;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}
.features-list__heading {
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-list__text {
  font-size: 14px;
  line-height: 1.7;
  color: $text-color;
}
