.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
  gap: 30px;

  &__icon {
    background-color: #f5f4fa;
    flex-basis: calc((100% - 90px) / 4);
    padding: 25px 100px;
    margin-bottom: 30px;
  }
  &__item {
    flex-basis: calc((100% - 90px) / 4);
  }

  &__heading {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  &__text {
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.7;
  }
}
