.header.border {
  border-bottom: 1px solid #ececec;
}

.portfolio {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.portfolio-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.portfolio-btn {
  padding: 6px 22px;
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $icons-white;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-card {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 2) / 3);
  }
}
.portfolio-card__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .portfolio-card__text,
  &:focus .portfolio-card__text {
    transform: translateY(0);
  }
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  & img {
    display: block;
  }
}
.portfolio-card__link--first {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.portfolio-descr--first {
  flex-grow: 1;
}
.portfolio-card__wrapper {
  position: relative;
  overflow: hidden;
  & img {
    display: block;
  }
}

.portfolio-card__text {
  position: absolute;
  transform: translateY(120%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: $icons-white;
  background: rgba(33, 150, 243, 0.9);
}

.portfolio-card:nth-child(3n) {
  margin-right: 0;
}
.portfolio-descr {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: none;

  &__heading {
    margin-bottom: 4px;

    color: $heading-color;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  &__text {
    color: $text-color;

    font-size: 16px;
    line-height: 1.88;
  }
}
